<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.2.5.1.js"></script>
</head>

<body>
    <div id="sky">
        <ul>
            <li v-for="value in obj">
                {{value}}
            </li>
        </ul>
        <ul>
            注意value,key,index三者的顺序，是不能打乱的
            <li v-for="(value,key,index) in obj">
                {{index}}--{{key}}--{{value}}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#sky',
            data: {
                obj: {
                    'name': "翠花",
                    'sex': "girl"
                }
            }
        })
    </script>
</body>

</html>